<p-dialog header="{{modalType}} Unidad Productiva" [(visible)]="displayAddEditModal" [modal]="true" [draggable]="false"
    [resizable]="false" (onHide)="closeModal()">
    <form [formGroup]="form" class="unidadP-form">
        <div class="row">
            <div class="field">
                <label class="block" for="nombreUnidadP">Nombre de Unidad Productiva</label>
                <input type="text" pInputText id="nombreUnidadP" formControlName="nombreUnidadP">
                <small class="p-error block" *ngIf="
                    form.controls['nombreUnidadP'].invalid &&
                    form.controls['nombreUnidadP'].dirty
                    ">Campo Obligatorio*</small>
            </div>

            <div class="field">
                <label class="block" for="coordenadas">Coordenadas</label>
                <input type="text" pInputText id="coordenadas" formControlName="coordenadas"
                    (keypress)="onKeyPress($event)">
                <small class="p-error block" *ngIf="
                    form.controls['coordenadas'].invalid &&
                    form.controls['coordenadas'].dirty
                    ">Campo Obligatorio*</small>
            </div>

            <div class="field">
                <label class="block" for="area">Área</label>
                <input type="text" pInputText id="area" formControlName="area" (keypress)="onKeyPress($event)">
                <small class="p-error block" *ngIf="
                    form.controls['area'].invalid &&
                    form.controls['area'].dirty
                    ">Campo Obligatorio*</small>
            </div>
            <div class="field">
                <label class="block" for="profundidad">Profundidad</label>
                <input type="text" pInputText id="profundidad" formControlName="profundidad"
                    (keypress)="onKeyPress($event)">
                <small class="p-error block" *ngIf="
                    form.controls['profundidad'].invalid &&
                    form.controls['profundidad'].dirty
                    ">Campo Obligatorio*</small>
            </div>
            
            <div class="field">
                <label class="block" for="observacion">Observacion</label>
                <textarea rows="5" cols="30" pInputTextarea formControlName="observacion"></textarea>
                <small class="p-error block" *ngIf="
                    form.controls['observacion'].invalid &&
                    form.controls['observacion'].dirty
                    ">Campo Obligatorio*</small>
            </div>
        </div>

    </form>
    <ng-template pTemplate="footer">
        <p-button (click)="closeModal()" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button (click)="addEditUnidadP()" label="{{modalType}}" [disabled]="form.invalid"></p-button>
    </ng-template>
</p-dialog>